<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <div class="dashboard-balance">
                <span class="dashboard-label">Balans:</span>
                <span class="dashboard-amount"><%= user.balance %> $</span>
            </div>
            <div class="dashboard-username">
                <span><%= user.username %></span>
            </div>
        </div>
        <div class="dashboard-goal-section">
            <span class="dashboard-goal-label">Tvoji ciljevi:</span>
            <% if (goals.length > 0) { %>
                <% goals.forEach(goal => { %>
                    <div class="dashboard-single-goal">
                        <div class="dashboard-goal-progress-info">
                            <span class="dashboard-goal-name"><%= goal.name %></span>
                            <div>
                                <span class="dashboard-current">$<%= goal.current %></span>
                                <span class="dashboard-separator">/</span>
                                <span class="dashboard-goal-total">$<%= goal.target %></span>
                            </div>
                        </div>
                        <div class="dashboard-progress-bar">
                            <div class="dashboard-progress" style="width: <%= Math.min((goal.current / goal.target) * 100, 100) %>%;">
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nemaš nijedan cilj trenutno.</p>
            <% } %>
            <form action="/newgoals" method="GET" class="dashboard-form">
                <button type="submit" class="dashboard-button">Kreiraj novi cilj</button>
            </form>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
